<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}

        {{ .Site.Title }}
        {{ end }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <!-- Code that all your templates share, like a header -->
    <div id="navbar-container" class="mb-3">
        {{ partial "navbar" . }}
    </div>
    <div class="container">
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
    </div>
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
</body>

</html>